<!doctype html>
<html lang="en">
    <head>
        {% include 'base/head.twig' with { 'title': 'Not Found' } %}
        <meta http-equiv="refresh" content="5; url=/" />
    </head>
    <body>
        404
    </body>
</html>
